* {
    margin: 0;
    padding: 0;
}

.bd {
    width: 1200px;
    margin: auto;
}

nav {
    /* width: 1200px; */
    /* margin: auto;
    display: flex;
    flex-direction: row; */
    /* background: #333333; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul {
    /* width: 100%; */
    /* flex: 60%; */
    width: 1000px;
    /* width: 1000px; */
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: auto;
    line-height: 40px;
}

ul li {
    /* flex: 10%; */
    list-style: none;
    color: #b0b0b0;
    line-height: 40px;
    /* margin: 0 10px; */
    margin-right: 10px;
    padding-left: 10px;
    text-align: left;
    font-size: 12px;
}

ul :first-child(1) {
    padding-left: 0;
    margin-right: 0;
}

.side {
    flex: 1;
}

.side>span {
    color: #b0b0b0;
    text-align: center;
    line-height: 40px;
}

ul li:hover {
    color: #fff;
}

.hd {
    width: 100%;
    background: #333333;
    height: 40px;
}

.title {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    height: 60px;
    /* background-color: pink; */
}

.title_hd {
    width: 200px;
    height: 40px;
    /* background: orange; */
    margin-top: 10px;
}

.title_hd>img {
    width: 40px;
    height: 100%;
    /* border-bottom: 1px solid orange; */
}

.title_bd {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 40px;
    margin-top: 10px;
}

.title_bd>span {
    margin: 0 5px;
    line-height: 40px;
    color: #333333;
    cursor: pointer;
    transition: all .3s ease;
}

.title_bd>span:hover {
    color: orange;
}

.title_fd {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.title_fd>input {
    width: 80%;
    border: none;
    height: 40px;
    border: 1px solid #ccc;
    border-right: 0;
    box-sizing: border-box;
}

.title_fd>button {
    flex: 1;
    /* list-style: none; */
    border: 1px solid #ccc;
    height: 40px;
}

.banel {
    height: 450px;
    /* width: 100%; */
    background: linear-gradient( to right, #880000, red);
    display: flex;
    flex-direction: row;
    background-image: url('../image/b1.jpg');
    background-size: 100% 100%;
}

.banel_hd {
    width: 200px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: rgba(0, 0, 0, .3);
}

.banel_hd>a {
    position: relative;
    flex: 9%;
    width: 100%;
    /* height: 42px; */
    text-decoration: none;
    line-height: 45px;
    transition: all .3s ease;
    /* text-align: center; */
    padding-left: 30px;
    color: #ccc;
    font-size: 14px;
}

.banel_hd>a::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-top: 1px solid #444;
    border-right: 1px solid #444;
    right: 20%;
    line-height: 45px;
    top: 35%;
    transform: rotate(45deg);
}

.banel_hd>a:hover {
    background-color: aqua;
}

.banel_bd {
    flex: 1;
}

.option {
    margin-top: 20px;
    height: 150px;
    display: flex;
    flex-direction: row;
}

.option_hd {
    width: 200px;
    display: flex;
    height: 100%;
    flex-flow: wrap;
    background: #5f5750;
    box-sizing: border-box;
}

.option_hd>a {
    /* padding-top: 10px; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 33.33%;
    height: 50%;
    text-decoration: none;
    font-size: 12px;
    color: #b0b0b0;
    align-items: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    /* margin-top: 4px; */
}

.option_hd>a>img {
    margin-top: 16px;
    margin-bottom: 4px;
    width: 24px;
    height: 24px;
    /* background: #b0b0b0; */
}

.option_hd>a:hover {
    color: #fff;
}

.option_bd {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.option_bd>a {
    margin-left: 20px;
    width: 32%;
}

.option_bd>a>img {
    width: 100%;
    height: 100%;
}

.sd {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 400px;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
}

.sd_hd {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sd_hd>.sd_title {
    width: 100px;
    margin-top: 15px;
    font-size: 24px;
    font-weight: 900;
    color: #333;
}

.sd_hd>.sd_spn {
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.sd_hd>.sd_spn>span {
    margin-top: 15px;
    width: 39px;
    height: 25px;
    border: 1px solid #ccc;
    position: relative;
}

.sd_hd>.sd_spn>span:nth-child(1)::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    transform: rotate(-135deg);
    left: 40%;
    top: 25%;
}

.sd_hd>.sd_spn>span:nth-child(2)::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    transform: rotate(45deg);
    left: 40%;
    top: 25%;
}

.sd_hd>.sd_spn>span:nth-child(1) {
    border-right: 0;
}

.shoping {
    display: flex;
    flex-direction: row;
    height: 340px;
    background: #f5f5f5;
}

.shoping_hd {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f1eded;
    border-top: 1px solid red;
}

.shoping_hd>.times {
    width: 100%;
    height: 15%;
    text-align: center;
    /* line-height: 70px; */
    font-size: 20px;
    font-weight: 700;
    color: red;
    padding-top: 70px;
}

.shoping_hd>.shoping_img {
    height: 20%;
    width: 100%;
    display: flex;
}

.shoping_hd>.shoping_img>img {
    width: 40px;
    height: 50px;
    align-items: center;
    margin-left: 80px;
}

.shoping_hd>.shoping_tx {
    height: 10%;
}

.shoping_hd>.shoping_spn {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 30px 0 0 0;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.shoping_hd>.shoping_spn>span {
    width: 30%;
    height: 50%;
    /* margin: 0 10px; */
    background-color: #333;
}

.shoping_hd>.shoping_spn>span:nth-child(1) {
    margin: 0 5px 0 20px;
}

.shoping_hd>.shoping_spn>span:nth-child(2) {
    margin: 0 5px;
}

.shoping_hd>.shoping_spn>span:nth-child(3) {
    margin: 0 20px 0 5px;
}

.shoping_ce {
    flex: 1;
    height: 100%;
}

.shoping_ce>.lis {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.shoping_ce>.lis>.li {
    width: 23%;
    height: 340px;
    margin-left: 20px;
    border-top: 1px solid orange;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.shoping_ce>.lis>.li:hover {
    box-shadow: 3px 3px 3px 3px #ccc;
}

.li>img {
    /* width: 100%; */
    /* align-items: center; */
    height: 200px;
}

.li h3 {
    height: 10%;
    font-size: 12px;
    text-align: center;
}

.shoping_ce .lis .li .price {
    height: 10%;
    font-size: 12px;
    color: #ccc;
    text-align: center;
}

.shoping_ce .lis .li .p1 {
    height: 10%;
    text-align: center;
}

.shoping_ce .lis .li .p1>span {
    color: #fa6553;
}

.shoping_ce .lis .li .p1>del {
    color: #ccc;
    font-size: 14px;
}

.pront_title {
    height: 120px;
}

.pront_title>img {
    width: 100%;
}

.phoneone {
    margin-top: 30px;
    width: 100%;
    height: 672px;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
}

.phone {
    /* width: 1200px; */
    /* margin-top: 30px; */
    /* height: 672px; */
    /* background: #f5f5f5; */
    height: 100%;
}

.phone .phone_hd {
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 53px;
}

.phone .phone_hd .phone_spn {
    font-size: 24px;
    font-weight: 800;
}

.phone_hd .phont_spn1 {
    font-size: 16px;
    display: inline-block;
    width: 100px;
    position: relative;
}

.phone_hd .phont_spn1::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 30%;
    left: 70%;
    background: #ccc;
    border-radius: 50%;
}

.phone_hd .phont_spn1::after {
    position: absolute;
    content: '';
    width: 7px;
    height: 7px;
    top: 39%;
    left: 74%;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}

.phone .phone_bd {
    height: 614px;
    display: flex;
    flex-direction: row;
}

.phone .phone_bd .phone_sd {
    display: flex;
    width: 200px;
}

.phone .phone_bd .phone_sd>img {
    width: 200px;
}

.phone .phone_bd .phone_fd {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    /* margin-left: 20px; */
    box-sizing: border-box;
}

.phone_bd .phone_fd .phont_td {
    width: 23%;
    height: 300px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-left: 15px;
    padding-left: 4px;
    margin-bottom: 15px;
    /* border-right: 1px solid pink; */
    /* box-sizing: border-box; */
    align-items: center;
    background: #fff;
    transition: all .3s ease;
}

.phone_bd .phone_fd .phont_td:hover {
    transform: scale(1.05);
    box-shadow: #ccc 3px 3px 3px 3px;
}

.phone_bd .phone_fd .phont_td>img {
    width: 160px;
    height: 160px;
}

.phont_td>h3 {
    font-size: 16px;
    height: 70px;
    line-height: 110px;
}

.phont_td>p {
    font-size: 12px;
    color: #ccc;
    height: 20px;
}

.phont_td>span {
    color: orange;
    height: 30px;
    font-size: 14px;
}